body {
    background-color: #f5e6dc;  
  }

/* Dropdown styling */
.dropdown {
  background: none;
  border: none;
  outline: none;
}

/* Dropdown text styling */
.dropdown-text {
  color: #f3ede4;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  text-decoration: none;
}

/* Consistent spacing, hover effects, font weight */
.dropdown {
  margin: 0 1em;
}

.dropdown:hover .dropdown-text {
  color: #dad075;
}

.dropdown-text {
  font-weight: bold;
}

/* Icon styles */
.category-icon,
.dropdown-icon {
  width: 20px;
  height: auto;
  margin-right: 5px;
}
.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Override dropdown menu background */
.dropdown-menu {
  background-color: #f8f9fa; /* Light gray background */
}

/* Style dropdown items */
.dropdown-item {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.dropdown-item:hover {
  background-color: #e9ecef; /* Lighter gray on hover */
}


